#version: "3.9"

networks:
  labnet:
    driver: bridge

services:
  victim:
    image: alpine:latest
    container_name: victim
    command: sh -c "
      apk add --no-cache busybox-extras curl &&
      mkdir -p /var/www &&
      echo '<h1>Hello from victim</h1>' > /var/www/index.html &&
      httpd -f -p 80 -h /var/www"

    healthcheck:
      test: ["CMD", "wget", "-q", "-O", "-", "http://localhost"]
      interval: 5s
      timeout: 2s
      retries: 5
    networks:
      - labnet

  attacker:
    image: kalilinux/kali-rolling:latest
    container_name: attacker
    depends_on:
      victim:
        condition: service_healthy
    tty: true
    stdin_open: true
    command: bash -lc "tail -f /dev/null"
    networks:
      - labnet
