#version: "3.9"

networks:
  labnet:
    driver: bridge

services:
  victim:
    image: alpine:latest
    container_name: victim
    command: sh -c "
      apk add --no-cache busybox-extras curl &&
      mkdir -p /var/www &&
      echo '<h1>Hello from victim</h1>' > /var/www/index.html &&
      httpd -f -p 80 -h /var/www "
    networks:
      - labnet

  attacker:
    image: kalilinux/kali-rolling:latest
    container_name: attacker
    tty: true
    stdin_open: true
    command: bash -lc "
      apt-get update &&
      apt-get install -y iputils-ping curl jq &&
      tail -f /dev/null
      ping victim
      curl http://192.168.1.198:80/"
    networks:
      - labnet
